<!DOCTYPE html>
<html>
    <head>
        <!-- Vue.js CDN file-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js" ></script>
        <!-- Javascript-->
        <!--css link-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
        <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
        <div id="appss">
            <!--Start of header-->
            <header>
                <!-- Start of Button for CartItemCount-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                    <h3 class="navItem">KEVIN LTD</h3>
                    <button v-if="isCartFilled()" v-on:click="showItems()">
                        <i class="fa-solid fa-cart-shopping"></i>
                        {{cartItemCount}}
                    </button>
                    <button disabled="Disabled" v-else>
                        <i class="fa-solid fa-cart-shopping"></i>
                        {{cartItemCount}}
                    </button>
                <!--End of button for CartItemCount-->  
                <!-- Start of Bar containing all sort of inputs -->
                <div class="sort-bar navItem">
                    <select name="sortBy" v-model="sortBy">
                        <option value="alphabetical">Availability</option>
                        <option value="price">Alphabetical</option>                
                        <option value="location">Location</option>    
                        <option value="availability">Price</option>    
                    </select>
                    <button v-on:click="ascending = !ascending" class="sort-button">
                        <i v-if="ascending" class="fa fa-sort-up"></i>
                        <i v-else class="fa fa-sort-down"></i>
                    </button>
                </div>  
                <!-- End of Bar containing all sort of inputs -->
                <!-- Start of Search bar -->
                <div class="search-bar navItem">
                    <input type="text" v-model="searchValue" placeholder="Search Item" id="search-input"></input>
                </div>
                <!--End of Search bar-->
                </nav>
            </header>
            <!--End of header-->

            <div class="container">
                <!--start of checkout section-->
                <div v-if="isHidden0">                    
                    <button v-on:click="showCheckout()">Show Checkout</button>
                    <h1 class="title"> Lessons Shop </h1>
                <!--End of checkout section-->
                <!-- Start of Displaying sorted array Lessons using a v-for loop-->
                <div class="lessonContainer">
                    <div v-for="lesson in sortedLessons" :key="lesson.title">
                        <div  class="border border-white bg-light lessonBox">
                            <figure>
                                <img v-bind:src="lesson.image" class="img">
                            </figure>
                            <h2 v-text="lesson.title"></h2>
                            <p v-html="lesson.description"></p>
                            <p>Price: {{lesson.price}}</p>
                            <p>Location:{{lesson.location}}</p>
                            <p>Left: {{lesson.space}}</p>
                            <!-- Buttons -->
                            <!-- Button when product.space is not 0 -->
                            <button v-on:click="addItem(lesson)" v-if = "canAddToCart(lesson)"> <!-- 'v-on' binds js snippets with vue js-->
                                Add to Cart 
                            <span class="fas fa-cart-plus" ></span>
                            </button>
                            <button disabled="disabled" v-else>
                                Add to Cart 
                                <span class="fas fa-cart-plus"></span>
                            </button>
                <!-- End of Displaying sorted array Lessons using a v-for loop-->
                <!--using of v-if,v-else and v-else-if instance-->
                <span v-if="lesson.availableInventory === cartCount(lesson.id)">
                    All Out!
                </span>
                <span v-else-if="lesson.availableInventory - cartCount(lesson.id) < 5">
                    Only {{lesson.availableInventory - cartCount(lesson.id)}} left
                </span>
                <span v-else>Buy Now!</span>
                <!-- Start of checkout section -->
                <div v-if="!isHidden0">
                    <button v-on:click="showCheckout()">Show Lessons</button>
                    <div class="cart&checkout_section">
                <!--End of checkout section-->
                <!-- Start of the Shopping cart section -->
                <div class="shoppingCart"><br>
                    <p><b>Your shopping cart</b></p>
                    <div v-for="i in this.cart"  v-if="isCartFilled()" id="cart">
                        <p>{{i.title}}</p>
                        <p>{{i.description}}</p>
                        <p>{{i.price}}</p>
                        <p>{{i.image}}</p>
                        <p>{{i.location}}</p>
                        <button v-on:click="removeItem(i.id,i.title)">Remove</button>
                    </div>
                    <div v-if="!isCartFilled()">
                        <br>
                        Cart is empty
                    </div>
                </div>
            </div>
            <br>
            <div class="checkoutSection">
                <h2>checkout</h2>
                <p>
                    <strong> Name </strong>
                    <input v-model.trim= "order.name" type="text" @keyup="validateName">
                    <strong> Phone number</strong>
                    <input
                    name="phoneNumber"
                    v-model="order.phoneNumber"
                    type="text"
                    @keyup="validatePhoneNumber"
                  />
                    <button v-on:click="checkoutValidation()">Proceed to checkout</button>
                </p>
                <div v-if="isHidden2">
                    <h4>Order Information</h4>
                    <p>Name: {{order.name}}</p>
                    <p>Phone number : {{order.phoneNumber}}</p>
                    <button v-on:click="submitForm()">Check out</button>
                </div>
                <div v-else>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Shopping cart section -->
    </div>
    </div>

 <!--Start of script section-->

 <script src="lessons.js"></script>

    <script>
        let app = new Vue({
            el:"#app",
            data:{
                lessons : lessons,
                cart:[],
                cartList:[],
                ascending:true,
                sortBy: "alphabetical",
                isHidden0:true,
                isHidden1:false,
                isHidden2: false,
                searchValue:'',
                isValidName: true,
                isValidPhoneNumber : true,
                order:{
                    name:"",
                    phoneNumber:"",
                }
            },
            methods:{
                searcher(){
                    this.lessons.forEach((element) => {
                        let tText=element.title.toLowerCase();
                        let lText=element.location.toLowerCase();
                        if(!this.search && this.search ==="")
                            element.show= true;
                        let i=0;
                        while(this.search && i < this.search.length )
                        {
                            let sText =this.search.toLowerCase();
                            if (sText[i]===tText[i]|| sText[i]===lText[i])
                                element.show= true;
                            else{
                                element.show = false;
                                break;
                            }
                            i++
                        }
                    });
                },
                showCheckout(){
                    if(this.isHidden0 == false){
                        this.isHidden0 = true;
                    }else{
                        this.isHidden0 = false;
                    }
                },
                showCart(){
                    if(this.isHidden1==true){
                        this.isHidden1 = false;
                    }else{
                        this.isHidden1 = true;
                    }
                },
                //adding item to the cart
                addItem(product) {
                    this.cart.push({
                    title: product.title,price: product.price,description: product.description,image:product.image
                    }),
                    this.cartList.push(product.id)
                    product.space = product.space - 1;
                    product.availableInventory = product.availableInventory - 1; 

                },
                cartCount(id){
                    let count = 0;
                    for(let i = 0; i < this.cart.length;i++){
                        if(this.cart[i]=== id){
                            count++;
                        }
                    }
                    return count;
                },
                //checking if the lesson is added in cart 
                canAddToCart(product){
                    return product.availableInventory > this.cartCount(product.id); 
                },
                //checking if the cart has at least 1 element in the cart array
                isCartFilled(){
                    return this.cart.length > 0;   
                },
                // empting the item from the cart
                removeItem(id,title){
                    this.cart.splice(this.cart.indexOf(id),1);   
                    this.cartList.splice(this.cartList.indexOf(id),1);
                    lessons[lessons.indexOf(lessons.find(o=> o.title === title))].space+=1;
                    lessons[lessons.indexOf(lessons.find(o=> o.title === title))].availableInventory+=1;
                },
                submitForm(){
                    alert("Order submitted");
                },
                validateName(){ 
                    const validationRegex = /^[A-Za-z]+$/;
                    if(this.order.name.match(validationRegex)){
                        return this.isValidName = true;
                    }else{
                        return this.isValidName = false;
                    }
                },
                validatePhoneNumber() {
                    const validationRegex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
                    if (this.order.phoneNumber.match(validationRegex)) {
                        this.isValidPhoneNumber = true;
                    } else {
                        this.isValidPhoneNumber = false;
                    }
                },
                checkoutValidation(){
                    if(this.order.name == ""|| this.order.phone==""){
                        this.isHidden2 = false;
                        alert("Please fill out the form");
                    } else if(!this.isValidPhoneNumber){
                        alert("Please enter a valid phone number");
                    } else if(!this.isValidName){
                        alert("Please enter a valid name (detected numbers)");
                    }else{
                        this.isHidden2 = true;
                    }
                },
            },
            computed:{
                cartItemCount: function () {
                // getting the size of cart array
                return this.cartList.length;
                },
                sortedLessons(){
                    if(this.searchValue != '' && this.searchValue){
                        let lessonsArray = this.lessons;
                        lessonsArray= lessonsArray.filter((item)=>{
                            return item.title.toUpperCase().includes(this.searchValue.toUpperCase())||item.location.toUpperCase().includes(this.searchValue.toUpperCase());
                        })
                        return lessonsArray;
                    }
                    if(this.sortBy=="price"){
                        if(!this.ascending){
                            let lessonsArray = this.lessons.slice(0);
                            function compare(a,b){
                                if(a.price > b.price){
                                    return 1;
                                }
                                if(a.price<b.price){
                                    return -1;
                                }
                                return 0;
                            }
                            return lessonsArray.sort(compare).reverse()
                        }else{
                                let lessonsArray = this.lessons.slice(0);
                                function compare(a,b){
                                    if(a.price > b.price){
                                        return 1;
                                    }
                                    if(a.price<b.price){
                                        return -1;
                                    }
                                    return 0;
                                }
                                return lessonsArray.sort(compare);
                            }
                            
                        }
                    if(this.sortBy =="alphabetical"){
                        if(!this.ascending){
                        let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.title > b.title){
                                return 1;
                            }
                            if(a.title < b.title){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare).reverse();
                        // sorting them 
                        }else{
                            let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.title > b.title){
                                return 1;
                            }
                            if(a.title < b.title){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare);
                        }
                    }
                    if(this.sortBy =="location"){
                        if(!this.ascending){
                        let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.location > b.location){
                                return 1;
                            }
                            if(a.location < b.location){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare).reverse();
                        // sorting them 
                        }else{
                            let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.location > b.location){
                                return 1;
                            }
                            if(a.location < b.location){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare);
                        }
                    }    
                    if(this.sortBy =="availability"){
                        if(!this.ascending){
                        let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.space > b.space){
                                return 1;
                            }
                            if(a.space < b.space){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare).reverse();
                        // sorting them 
                        }else{
                            let lessonsArray = this.lessons.slice(0);
                        function compare(a,b){
                            if(a.space > b.space){
                                return 1;
                            }
                            if(a.space < b.space){
                                return -1;
                            }
                            return 0;
                        }
                        return lessonsArray.sort(compare);
                        }
                    }
                }
                }
        });
</script>
<!--End of script section-->
</body> 
</html>